@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
